<?xml version="1.0"?>
<ruleset name="Custom Standard" namespace="MyProject\CS\Standard">
    <description>Phetit Routing</description>

    <file>src/</file>
    <file>tests/</file>

    <arg name="extensions" value="php" />
    <arg name="report" value="full"/>
    <arg name="colors"/>
    <arg value="sp"/>

    <rule ref="PSR12"/>

    <rule ref="Generic.Arrays.ArrayIndent" />
    <rule ref="Generic.CodeAnalysis.UnusedFunctionParameter" />
    <rule ref="Generic.Strings.UnnecessaryStringConcat" />
    <rule ref="Generic.Formatting.SpaceAfterNot" />
</ruleset>
